@using MoneyManager.Client.Services
@using MoneyManager.Client.ViewModels
@using EnumsNET
@inherits LayoutComponentBase
@inject ILocalStorageService _localStorage
@inject AppState appState
@inject ErrorMessage errorMessage
@inject NameOfSubpage nameOfSubpage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="d-flex justify-content-between top-row px-4">
            <div class="d-none d-md-block">
                <h2 class="m-auto">@(((NamesOfSubpageEnum)nameOfSubpage.NamesOfSubpage).AsString(EnumFormat.Description))</h2>
            </div>
            <div class="d-md-none">
                <h4 class="m-auto">@(((NamesOfSubpageEnum)nameOfSubpage.NamesOfSubpage).AsString(EnumFormat.Description))</h4>
            </div>
            @*            <div class="d-flex flex-row d-none d-sm-flex">
            *@            <div class="user-info">
                @if (appState.LoggedIn)
                {
                    <div class="">Hello <b>@userName</b></div>
                    <a @onclick="Logout" href="">Logout</a>
                }
                else
                {
                    <a href="login">Login</a>
                    <a href="register">Register</a>
                }
            </div>
        </div>

        @if (!string.IsNullOrEmpty(errorMessage.Message))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @errorMessage.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="@(() => { errorMessage.Message = string.Empty; StateHasChanged(); })" aria-label="Close"></button>
            </div>
        }

        <article class="content">
            @Body
        </article>

        @if (appState.LoggedIn)
        {
            <a href="/addrecord" class="btn-float">
                <i class="oi oi-plus btn-float-icon"></i>
            </a>
        }
    </main>
</div>

@code {
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        UserTokenVM user = await _localStorage.GetItem<UserTokenVM>("user");
        if (user.Token is not null)
        {
            appState.LoggedIn = true;
        }
    }

    private async void Logout()
    {
        await _localStorage.RemoveItem("user");
        appState.LoggedIn = false;
    }

    private async void ChceckIfLoggedIn()
    {
        UserTokenVM UserTokenVM = await _localStorage.GetItem<UserTokenVM>("user");
        if (UserTokenVM is not null)
        {
            userName = UserTokenVM.Name;
        }
        else
            userName = null;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        appState.OnChange += ChceckIfLoggedIn;
        appState.OnChange += StateHasChanged;
        nameOfSubpage.OnChange += StateHasChanged;
        errorMessage.OnChange += StateHasChanged;
    }

    void Dispose()
    {
        appState.OnChange -= ChceckIfLoggedIn;
        appState.OnChange -= StateHasChanged;
        nameOfSubpage.OnChange -= StateHasChanged;
        errorMessage.OnChange -= StateHasChanged;
    }
}