@page "/categories"
@using MoneyManager.Client.Components
@using MoneyManager.Client.Models
@using MoneyManager.Client.Services
@using MoneyManager.Shared
@using Newtonsoft.Json
@inject IHttpTrackerService _httpTracker

<h1>Categories</h1>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger mt-3 mb-0">@_errorMessage</div>
}

<button class="btn btn-primary" @onclick="@(x => OpenCreateCategoryDialog())">Add category</button>

@if (_categories is null)
{
    <p><em>Loading...</em></p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th width="80%">
                    <button class="btn btn-sm btn-outline-info" @onclick="@(x => SortButtonClick(TypesInRecord.Name))">Name @_setOrderByArrow[(int)TypesInRecord.Name]</button>
                </th>
                <th width="10%">
                    <div></div>
                </th>
                <th width="10%">
                    <div></div>
                </th>
            </tr>
        </thead>
    </table>
    <tbody>
        @foreach (var category in _categories)
        {
            <tr>
                <td class="align-middle" width="80%">
                    @category.Name
                </td>
                <td class="align-middle" width="10%">
                    <button class="btn btn-outline-secondary btn-sm align-middle" @onclick="@(x => OpenEditCategoryDialog(category))">Edit</button>
                </td>
                <td class="align-middle" width="10%">
                    <button class="btn-close" @onclick="@(x => OpenDeleteDialog(category))"></button>
                </td>
            </tr>
        }
    </tbody>
}
@if (DeleteDialogOpen && _categoryToDelete != null)
{
    <ConfirmDeleteDialog DialogType="ConfirmDeleteDialog.ModalDialogType.DeleteCancel" Title="Are you sure?" Text=@($"Do you want delete {_categoryToDelete.Name}?") OnClose="@CloseDeleteDialog"></ConfirmDeleteDialog>
}
@if (CategoryFormOpen)
{
    <CategoryFormDialog Title="Edit category" TypeOfModal="@_typeOfModalDialog" OnClose="CloseEditDialog" CategoryItem="_categoryToUpdate"></CategoryFormDialog>
}
@if(ReferenceToCategoryOpen)
{
    <CategoryReferenceToRecordDialog ListOfRecords="ReferenceToCategoryListOfRecords" OnClose="CloseReferenceToCategoryDialog" OnDelete="CloseDeleteDialog"></CategoryReferenceToRecordDialog>
}


@code {
    private string? _errorMessage;
    private CategoryItemDto? _categoryToDelete;
    private CategoryItemDto? _categoryToUpdate;
    private List<CategoryItemDto>? _categories;
    private CategoryFormDialog.TypeOfModalDialog _typeOfModalDialog;
    private string[] _setOrderByArrow = { "" };

    public bool DeleteDialogOpen { get; set; }
    public bool CategoryFormOpen { get; set; }
    public bool ReferenceToCategoryOpen { get; set; }
    public List<RecordItemDto>? ReferenceToCategoryListOfRecords { get; set; }

    private void CloseReferenceToCategoryDialog()
    {
        ReferenceToCategoryOpen = false;
        StateHasChanged();
    }

    private async Task<List<RecordItemDto>?> CheckCategoryReference(int categoryId)
    {
        var recordWithCategoryToDelete = await _httpTracker.GetRecordsForCategoryId(categoryId, "/api/tracker/cat/");
        var rwct = await recordWithCategoryToDelete.Content.ReadAsStringAsync();
        var listRe = JsonConvert.DeserializeObject<List<RecordItemDto>>(rwct) ?? new List<RecordItemDto>();
        if (listRe.Capacity == 0)
            return null;
        return listRe;

    }

    private async Task OpenDeleteDialog(CategoryItemDto category)
    {
        List<RecordItemDto>? recordsReference = await CheckCategoryReference(category.Id);
        _categoryToDelete = category;
        if (recordsReference is null)
        {
            DeleteDialogOpen = true;
        }
        else
        {
            ReferenceToCategoryListOfRecords = recordsReference;
            ReferenceToCategoryOpen = true;
        }
        StateHasChanged();

    }

    private async Task CloseDeleteDialog(bool delete)
    {
        DeleteDialogOpen = false;
        ReferenceToCategoryOpen = false;

        if (delete)
        {
            try
            {
                await DeleteCategory();
            }
            catch (Exception ex)
            {
                _errorMessage = ex.Message;
            }
        }
        await GetAllategories();
        StateHasChanged();
    }

    private async Task DeleteCategory()
    {
        if (_categoryToDelete is null)
        {
            _errorMessage = "Sorry, category not found";
            return;
        }

        try
        {
            var respond = await _httpTracker.DeleteItem(_categoryToDelete.Id, "/api/category/");
            if (respond != null && respond.StatusCode != System.Net.HttpStatusCode.OK)
                _errorMessage = await respond.Content.ReadAsStringAsync();

        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }

    private async Task CloseEditDialog()
    {
        CategoryFormOpen = false;
        _categoryToUpdate = null;
        await GetAllategories();
        StateHasChanged();
    }

    private void OpenEditCategoryDialog(CategoryItemDto category)
    {
        _typeOfModalDialog = CategoryFormDialog.TypeOfModalDialog.Update;
        CategoryFormOpen = true;
        _categoryToUpdate = category;
        StateHasChanged();
    }

    private void OpenCreateCategoryDialog()
    {
        _typeOfModalDialog = CategoryFormDialog.TypeOfModalDialog.Create;
        CategoryFormOpen = true;
        StateHasChanged();
    }

    private void SortButtonClick(TypesInRecord sortBy)
    {
        SortArrayService.SortByType(sortBy, _setOrderByArrow[0] == "↑", ref _categories, ref _setOrderByArrow);
    }

    private async Task GetAllategories()
    {
        var respond = await _httpTracker.GetListOfItems("/api/category");
        var json = await respond.Content.ReadAsStringAsync();
        _categories = JsonConvert.DeserializeObject<List<CategoryItemDto>>(json);

        _setOrderByArrow[0] = "";
        SortButtonClick(TypesInRecord.Name);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAllategories();
    }
}