@using MoneyManager.Client.Services
@using System.Net.Http.Headers
@using Newtonsoft.Json
@using MoneyManager.Client.ViewModels
@inject IHttpRecordService _httpService

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn-close" @onclick="@ModalCancel"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@formRecordItem" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-floating mb-2">
                        <InputText id="name" class="form-control" @bind-Value="formRecordItem.Name" />
                        <ValidationMessage For="@(() => formRecordItem.Name)" />
                        <label for="floatingInput">Name</label>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div class="flex-fill me-2">
                            @if (_loadingCategories)
                            {
                                <div class="d-flex align-items-center">
                                    <strong>Loading...</strong>
                                    <div class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></div>
                                </div>
                            }
                            else if (_categories.Count is 0)
                            {
                                <div>You don't have any categories</div>
                            }
                            else
                            {
                                <InputSelect class="form-select" @bind-Value="SelectedCategory">
                                    @foreach (var item in _categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            }
                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-secondary px-auto" type="button" @onclick="OpenCategoryFormDialog">Add</button>
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <InputNumber id="amount" class="form-control" @bind-Value="formRecordItem.Amount"></InputNumber>
                        <label for="floatingTextarea">Amount</label>
                    </div>

                    <InputRadioGroup @bind-Value="formRocordIsIncome">
                        <div class="form-check">
                            <InputRadio class="form-check-input" Value="true" />
                            <label>Income</label>
                        </div>
                        <div class="form-check mb-2">
                            <InputRadio class="form-check-input" Value="false" />
                            <label>Expense</label>
                        </div>
                    </InputRadioGroup>

                    <div class="form-floating mb-2">
                        <InputDate id="date" class="form-control" @bind-Value="TransactionDate"></InputDate>
                        <label for="floatingTextarea">Transaction date</label>
                    </div>

                    @if (RecurringRecordsPanel)
                    {
                        <div class="d-flex justify-content-between mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" @bind-value="RecurringRecordFormOpen" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Recurring Record</label>
                            </div>
                            <div>
                                <MyTooltip Text="The record will appear in the table on this date. The transaction will repeat itself automatically every month until you turn it off in the Recurring Records tab.">
                                    ?
                                </MyTooltip>
                            </div>
                        </div>
                    }


                    @if ((RecurringRecordsPanel && RecurringRecordFormOpen) || TypeOfDialog == TypeOfFormlDialog.EditRecurringRecord)
                    {
                        <div class="form-floating mb-2">
                            <text class="form-control">@recurringRecord.NextDate.ToShortDateString()</text>
                            <label for="floatingInput">Estimated next date</label>
                        </div>

                        if (TypeOfDialog == TypeOfFormlDialog.EditRecurringRecord)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" @bind="RecurringRecordIsActive" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Is active</label>
                            </div>
                        }
                    }

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-success mb-3" type="submit">Submit</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@if (IsOpen)
{
    <CategoryFormDialog Title="Add new category" OnClose="@CloseCategoryFormDialog" TypeOfModal="CategoryFormDialog.TypeOfModalDialog.Create"></CategoryFormDialog>
}

@code {
    public bool IsOpen { get; set; }

    private async Task CloseCategoryFormDialog(bool isCreatedOrUpdated)
    {
        IsOpen = false;
        await GetCategory();
        if (isCreatedOrUpdated)
            SelectedCategory = _categories.OrderBy(x => x.Id).Last().Id;
    }

    private void OpenCategoryFormDialog()
    {
        IsOpen = true;
        StateHasChanged();
    }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public TypeOfFormlDialog TypeOfDialog { get; set; }

    [Parameter]
    public bool RecurringRecordsPanel { get; set; } = false;

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public RecordVM? RecordToFill
    {
        get
        {
            return new();    
        }

        set
        {
            if (value is not null)
            {
                formRecordItem = value;

                _selectedCategoryId = formRecordItem.CategoryId;

                if (value.Amount > 0)
                    formRocordIsIncome = true;
                else
                    formRocordIsIncome = false;
            }
        }
    }

    [Parameter]
    public RecurringRecordVM? RecurringRecordToFill
    {
        set
        {
            if (value is not null)
            {
                RecurringRecordIsActive = value.IsActive;
                recurringRecord = value;
                formRecordItem.Name = value.Name;
                formRecordItem.Amount = value.Amount;
                formRecordItem.TransactionDate = value.TransactionDate;
                _selectedCategoryId = value.CategoryId;
            }
        }

        get
        {
            return recurringRecord;
        }
    }

    [Parameter]
    public EventCallback<RecordVM> FormRecordItem { get; set; }

    [Parameter]
    public EventCallback<RecurringRecordVM> RecurringRecordItem { get; set; }

    private DateTime TransactionDate
    {
        get { return formRecordItem.TransactionDate; }
        set
        {
            formRecordItem.TransactionDate = value;
            recurringRecord.NextDate = formRecordItem.TransactionDate.AddMonths(1);
            recurringRecord.RepeatEveryDayOfMonth = value.Day;
        }
    }

    private bool RecurringRecordFormOpen { get; set; } = false;
    private bool RecurringRecordIsActive { get; set; }
    private RecurringRecordVM recurringRecord = new RecurringRecordVM() { IsActive = true };
    private RecordVM formRecordItem = new RecordVM();
    private bool formRocordIsIncome = false;
    private int? _selectedCategoryId;
    private bool _loadingCategories = true;
    List<CategoryVM> _categories = new();
    public int? SelectedCategory
    {
        get { return _selectedCategoryId; }
        set { _selectedCategoryId = value; }
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task HandleValidSubmit()
    {
        if (formRocordIsIncome)
            formRecordItem.Amount = Math.Abs(formRecordItem.Amount);
        else
            formRecordItem.Amount = Math.Abs(formRecordItem.Amount) * -1;

        formRecordItem.CategoryId = _selectedCategoryId;

        if (RecurringRecordFormOpen || TypeOfDialog == TypeOfFormlDialog.EditRecurringRecord)
        {
            recurringRecord.Name = formRecordItem.Name;
            recurringRecord.Amount = formRecordItem.Amount;
            recurringRecord.CategoryId = formRecordItem.CategoryId;
            recurringRecord.CategoryName = formRecordItem.CategoryName;
            recurringRecord.TransactionDate = formRecordItem.TransactionDate;
            if (TypeOfDialog == TypeOfFormlDialog.EditRecurringRecord)
                recurringRecord.IsActive = RecurringRecordIsActive;
            RecurringRecordItem.InvokeAsync(recurringRecord);
        }
        else
        {
            RecurringRecordItem.InvokeAsync(null);
            FormRecordItem.InvokeAsync(formRecordItem);
        }

        return OnClose.InvokeAsync(true);
    }

    private async Task GetCategory()
    {
        _loadingCategories = true;
        try
        {
            var respond = await _httpService.GetListOfItems("/api/category/");
            if (respond == null) return;
            if (respond.StatusCode == System.Net.HttpStatusCode.OK)
            {
                var json = await respond.Content.ReadAsStringAsync();
                var categories = JsonConvert.DeserializeObject<List<CategoryVM>>(json);

                _categories = categories;
                if (_selectedCategoryId is null)
                    _selectedCategoryId = _categories.First().Id;
            }
            else
                _categories = new();
            //_errorMessage = await responseMessage.Content.ReadAsStringAsync();
        }
        catch (Exception ex)
        {
            //_errorMessage = ex.Message;
        }

        //if (categories is not null)
        //{
        //    _categories = categories;
        //    if (_selectedCategoryId is null)
        //        _selectedCategoryId = _categories.First().Id;
        //}
        //else
        //    _categories = new();

        _loadingCategories = false;
        StateHasChanged();
    }

    private DateTime NextDateCalc(int day)
    {
        return new DateTime(formRecordItem.TransactionDate.Year, formRecordItem.TransactionDate.AddMonths(1).Month, day);
    }

    protected override async Task OnInitializedAsync()
    {
        if (TypeOfDialog == TypeOfFormlDialog.AddRecord)
            TransactionDate = DateTime.Today;
        recurringRecord.RepeatEveryDayOfMonth = 1;
        await GetCategory();
    }
}
